<table class="table table-bordered">
  <thead>
    <th>S.N</th>
    <th>Name</th>
    <th>Phone1</th>
    <th>Email</th>
    <th>Verification Number</th>
    <th>Verification Type</th>
    <th>Address</th>
    <th>Active</th>
    <th>Action</th>
  </thead>
  <tbody>
    <tr *ngFor="let hosp of hospitals;let i = index">
      <td>{{i +1}}</td>
      <td>{{hosp.name}}</td>
      <td>{{hosp.phone1}}</td>
      <td>{{hosp.email}}</td>
      <td>{{hosp.verificationNumber}}</td>
      <td>{{hosp.verificationType}}</td>
      <td>{{hosp.address}}</td>
      <td>{{hosp.active}}</td>
      <td>
        <button class="btn btn-info">edit</button>
        <button class="btn btn-danger">Make Inactive</button>
      </td>

    </tr>
  </tbody>
</table>