<table *ngIf="!loading" class="table table-bordered">
  <thead>
    <th>S.N</th>
    <th>Name</th>
    <th>Phone1</th>
    <th>emergencyNumber</th>
    <th>verificationNumber</th>
    <th>verificationType</th>
    <th>Address</th>
    <th>City</th>
    <th>Action</th>
  </thead>
  <tbody>
    <tr *ngFor="let hosp of hospitals;let i = index">
      <td>{{i +1}}</td>
      <td>{{hosp.name}}</td>
      <td>{{hosp.phone1}}</td>
      <td>{{hosp.emergencyNumber}}</td>
      <td>{{hosp.verificationNumber}}</td>
      <td>{{hosp.verificationTypes}}</td>
      <td>{{hosp.address}}</td>
      <td>{{hosp.city}}</td>
      <td>
        <button routerLink="/hospital/update/{{hosp.id}}" class="btn btn-info">edit</button>
        <button (click)="" class="btn btn-danger">Make Inactive</button>
      </td>

    </tr>
  </tbody>
</table>